<h2>Sucursales</h2>

<div class="content">

  <form [formGroup]="sucursalForm" (ngSubmit)="selectSucursal ? actualizarSucursal() : crearSucursal()">
    <div>
      <label for="codigo">Código:</label>
      <input id="codigo" formControlName="codigo" required class="spacing" />

      <label for="descripcion">Descripción:</label>
      <input id="descripcion" formControlName="descripcion" required class="spacing" />

      <label for="direccion" class="label">Dirección:</label>
      <input id="direccion" formControlName="direccion" required class="spacing" />
    </div>
    <br>
    <div>
      <label for="identificacion" class="label">Identificación:</label>
      <input id="identificacion" formControlName="identificacion" required class="spacing" />

      <label for="moneda" class="label">Moneda:</label>
      <select id="moneda" formControlName="moneda" required class="spacing">
        <option value="" disabled selected>Seleccione una opción...</option>
        <option *ngFor="let moneda of monedas" [value]="moneda.idMoneda">{{moneda.nomMoneda}}</option>
      </select>
    </div>
    <br>
    <div>
      <button type="submit" class="button">{{ selectSucursal ? 'Actualizar' : 'Crear' }}</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Dirección</th>
        <th>Identificación</th>
        <th>Moneda</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sucursal of sucursales">
        <td>{{ sucursal.codigo }}</td>
        <td>{{ sucursal.descripcion }}</td>
        <td>{{ sucursal.direccion }}</td>
        <td>{{ sucursal.identificacion }}</td>
        <td>{{ sucursal.moneda }}</td>
        <td>
          <button class="button" (click)="editarSucursal(sucursal.codigo)">Editar</button>
          <button class="button" (click)="eliminarSucursal(sucursal.codigo)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <!-- <button class="button" onclick="">Crear</button> -->


  </div>
</div>


<!-- Mensaje si no hay sucursales -->
<div *ngIf="sucursales.length === 0">
  <p>No hay sucursales registradas.</p>
</div>
